<footer>
    <div class="container">
        <div class="row footer-row">
            <div class="col-sm-2 col-md-3 footer-logo">
                <a href="{{path('acseine_campaign_index')}}"><img src="{{asset('/acseine_campaign/images/footer_logo.png')}}" alt="ACSEINE" /></a>
            </div>
            <div class="col-sm-4 col-md-3 col-sm-push-6 footer-btn">
                <a class="button blue js_waveBtn link-click" href="#shoplist">SHOP LIST</a>
                {#<a class="button gray js_waveBtn" href="{{path('acseine_campaign_register')}}" target="_blank">REQUEST TESTER</a>#}
                <a class="button red js_waveBtn" href="{{path('product')}}">ONLINE SHOPPING</a>
            </div>

            <div class="col-sm-6 col-sm-pull-4 col-md-pull-3">
                <div class="row footer-menu">
                    <div class="col-sm-6">
                        <a href="{{path('acseine_campaign_index')}}">HOME</a><br />
                        <a href="{{path('acseine_campaign_index')}}#about">ABOUT ACSEINE</a><br />
                        <a href="{{path('acseine_campaign_index')}}#product">PRODUCT</a><br />
                        <a href="{{path('acseine_campaign_blog')}}">BLOG</a><br />
                        <a href="#shoplist" class="link-click">SHOP LIST</a><br />
                        <a href="{{path('acseine_terms_of_use')}}">TERMS OF USE (PRIVACY & POLICY)</a>
                    </div>
                    <div class="col-sm-6 footer-company">
                        <h4>COMPANY PROFILE</h4>
                        <p>
                            PITH Beauty Pro Co., Ltd.<br />
                            Exchange Tower , Unit 3801, 388 Sukhumvit Road, Klongtoey, Bangkok 10110{#<br />
                            Email : <a href="mailto:info@acseine.in.th">info@acseine.in.th</a>#}
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <div class="copyright">
            © Copyright ACSEINE ALL rights reserved.
        </div>
    </div>
</footer>

{#<div class="scrollSample">
    <a href="{{path('acseine_campaign_register')}}">
        <img src="{{asset('/acseine_campaign/images/sample/icon-real-2.png')}}" alt="ลุ้นรับ TESTER FREE"/>
    </a>
</div>#}
