{% extends "ProjectBundle:"~ view_layout ~":layout_campaign.html.twig" %}

{% block title %}ACSEINE AD Control ช่วยดูแลผิวเพื่อให้ผิวแห้งมีสุขภาพดีและสวยงาม | {{ parent() }}{% endblock %}
{% block html_description %}สำหรับผิวบอบบางที่เสี่ยงต่อการระคายเคือง{% endblock %}
{% block html_keywords %}AD Control,ACSEINE{% endblock %}

{% block body_class %}body-ad-control{% endblock %}

{% block content %}
<div class="ad-control">
    <section>
        <div class="main-banner pro-banner">
            <div class="item item2">
                <a>
                    <img src="{{asset('/acseine_campaign/images/product/ad-control/banner/ad-control.png')}}" class="pc" />
                    <img src="{{asset('/acseine_campaign/images/product/ad-control/banner/ad-control-m.png')}}" class="m" />
                </a>
            </div>
        </div>
    </section>

    <section class="product-section1">
        <div class="container">
            <div class="pad">
                <div class="section-title">
                    <h2 class="m-0 text-purple" style="line-height: 1.25;">
                        หนทางสู่ผิวสวยสุขภาพดี เริ่มด้วยวิธีเรียบง่าย<br />
                        Sample is the best<br />
                        <span style="font-size: 0.8em;">(シンプル・イズ・ベスト)</span>
                    </h2>
                </div>
                <div class="row text-center">
                    <div class="col-md-6 col-md-offset-3">
                        <p>
                            ความแห้งกร้านและมลภาวะทางอากาศเป็นตัวการร้ายที่ทำให้ผิวแห้งเสีย โดยเฉพาะกับบุคคลที่มีผิวบอบบาง แห้งเสียอยู่แล้วก็มักจะถูกกระตุ้นจากสิ่งแวดล้อมได้ง่าย
                        </p>
                        <p>
                            " Acseine AD Control " คือ ผลิตภัณฑ์ที่พัฒนาขึ้นมาเพื่อช่วยปกป้องและดูแลผิวให้คืนสู่ความสวยงามและดูสุขภาพดีตามธรรมชาติ ด้วยสูตรที่ เรียบง่าย เป็นมิตรกับผิว ระคายเคืองต่ำ อ่อนโยนแม้กับผิวที่อ่อนไหวง่าย ทว่ากลับมอบความชุ่มชื้นสูง (Low irritation & High moisture)
                        </p>
                        <p>
                            ไม่ว่าผิวจะแพ้ง่ายแค่ไหน ก็สามารถใช้ได้ ไร้กังวล
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="img-res">
        <img src="{{asset('/acseine_campaign/images/product/ad-control/banner/ADControl-2.png')}}" class="w-100 pc" />
        <img src="{{asset('/acseine_campaign/images/product/ad-control/banner/ADControl-2-M.png')}}" class="w-100 m" />
        <img src="{{asset('/acseine_campaign/images/product/ad-control/banner/AD-Banner.png')}}" class="w-100 pc" />
        <img src="{{asset('/acseine_campaign/images/product/ad-control/banner/AD-Banner-M.jpg')}}" class="w-100 m" />
    </section>

    <section class="bg-white bottomArrow">
        <div class="container">
            <div class="pad">
                <h2 class="title2">Product information<br /><span style="text-transform: none;">A cosmetic brand trusted by Japan's dermatologists.</span></h2>
                <div class="row text-center mb-20">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="mt-0 mb-15 text-purple" style="line-height: 1.2;">สำหรับผู้ที่มีปัญหาผิวมากกว่า 1 ข้อ AD control คือผลิตภัณฑ์ที่เหมาะกับผิวของคุณ</h1>
                    </div>
                </div>

                <div class="row row-5 adcontrol-box">
                    <div class="col-sm-6 col-md-5 col-md-offset-2 col">
                        <ul>
                            <li>ยากที่จะหาครีมบำรุงหรือ<span>เครื่องสำอางที่เหมาะกับผิว</span></li>
                            <li>ผิวหนังอ่อนไหว บอบบาง</li>
                            <li>ผิวหนังมักแห้ง <span>ขาดความชุ่มชื้น</span></li>
                            <li>ต้องการผลิตภัณฑ์ที่ช่วย<span>ดูแลผิวอย่างเป็นมิตร</span></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-4 col img">
                        <img src="{{asset('/acseine_campaign/images/product/ad-control/image1.png')}}" />
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="product-section2">
        <div class="container">
            <div class="pad">
                <h2 class="title2 mb-40">ขั้นตอนการใช้ผลิตภัณฑ์<br /><small>เลือกผลิตภัณฑ์ที่คุณสนใจเพื่อดูรายละเอียด</small></h2>

                <div class="step-wrap">
                    <div class="tab">
    					<ul>
    						<li class="s1 active"><a class="step-click" data-step="1"><div>ขั้นที่<span>1</span></div><div>Cleansing Makeup remover</div></a></li>
    						<li class="s2"><a class="step-click" data-step="2"><div>ขั้นที่<span>2</span></div><div>ผลิตภัณฑ์ทำความสะอาดใบหน้า</div></a></li>
    						<li class="s3"><a class="step-click" data-step="3"><div>ขั้นที่<span>3</span></div><div>ผลิตภัณฑ์ปรับสภาพผิว</div></a></li>
    						<li class="s4"><a class="step-click" data-step="4"><div>ขั้นที่<span>4</span></div><div>บิวตี้เอสเซนส์</div></a></li>
    						<li class="s5"><a class="step-click" data-step="5"><div>ขั้นที่<span>5</span></div><div>ผลิตภัณฑ์บำรุงผิว</div></a></li>
    						<li class="s6"><a class="step-click" data-step="6"><div>ขั้นที่<span>5</span> กลางคืน</div><div>ผลิตภัณท์บำรุงผิว<br />(กลางคืน)</div></a></li>
    						<li class="s7"><a class="step-click" data-step="7"><div>ดูแลผิว</div><div>ตัวช่วยเสริมเฉพาะจุด</div></a></li>
    					</ul>
    				</div>

                    <div class="step step1 active">
                        <div class="step-top">
                            <a class="step-click" data-step="1">
    							<div class="b1">ขั้นที่<span>1</span></div>
                                <div class="b2">Cleansing Makeup remover</div>
	                        </a>
                        </div>
                        <div class="step-inner">
                            <div class="step-title">
                                <h3>ขั้นที่ <span>1</span></h3>
                                <h2>ผลิตภัณฑ์ทำความสะอาดผิว<br /><small>(Cleansing care & Makeup remover)</small></h2>
                                <h4>เลือกผลิตภัณฑ์ทำความสะอาดผิวที่เหมาะกับผิวของคุณ</h4>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-md-4">
                                    <div class="pro">
                                        <p>สำหรับผิวกร้านเป็นสิวง่าย คืนผิวนุ่มพร้อมขจัดสิ่งสกปรกอุดตันรูขุมขนและเซลล์ผิวที่ตายแล้ว</p>
                                        <div class="img">
                                            <img src="{{asset('/acseine_campaign/images/product/ad-control/step1-item2.png')}}" class="img-pro"/>
                                            <div class="img-icon">
                                                <img src="{{asset('/acseine_campaign/images/product/ad-control/icon_pm.png')}}" />
                                            </div>
                                        </div>
                                        <h4>Milky Cleanse Up</h4>
                                        <div class="price">
                                            200 g. / 1,400 บาท (รวมภาษี)<br />
                                            120 g. / 1,000 บาท (รวมภาษี)
                                        </div>
                                        <a href="{{path('product_detail',{'id':32,'slug':'milky-cleanse-up'})}}" target="_blank" title="สั่งซื้อสินค้าผ่านทางเว็บไซต์" class="btn">ORDER NOW</a>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4">
                                    <div class="pro">
                                        <p>คลีนซิ่งออยล์สำหรับล้างเครื่องสำอางติดทน ขจัดสิ่งสกปรกตกค้างและรักษาความชุ่มชื้น</p>
                                        <div class="img">
                                            <img src="{{asset('/acseine_campaign/images/product/ad-control/step1-item3.png')}}" class="img-pro"/>
                                            <div class="img-icon">
                                                <img src="{{asset('/acseine_campaign/images/product/ad-control/icon_pm.png')}}" />
                                            </div>
                                        </div>
                                        <h4>Mild Wash Cleansing</h4>
                                        <div class="price">
                                            200 ml / 1,400 บาท (รวมภาษี)<br />
                                            120 ml / 1,000 บาท (รวมภาษี)
                                        </div>
                                        <a href="{{path('product_detail',{'id':31,'slug':'mild-wash-cleansing'})}}" target="_blank" title="สั่งซื้อสินค้าผ่านทางเว็บไซต์" class="btn">ORDER NOW</a>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4">
                                    <div class="pro">
                                        <p>คลีนซิ่งออยล์ 100% สำหรับผู้ที่มีผิวแพ้ง่ายหรือแพ้สารลดแรงตึงผิว</p>
                                        <div class="img">
                                            <img src="{{asset('/acseine_campaign/images/product/ad-control/step1-item1.png')}}" class="img-pro"/>
                                            <div class="img-icon">
                                                <img src="{{asset('/acseine_campaign/images/product/ad-control/icon_pm.png')}}" />
                                            </div>
                                        </div>
                                        <h4>Cleansing Oil</h4>
                                        <div class="price">
                                            120 ml / 1,100 บาท (รวมภาษี)
                                        </div>
                                        <a href="{{path('product_detail',{'id':33,'slug':'cleansing-oil'})}}" target="_blank" title="สั่งซื้อสินค้าผ่านทางเว็บไซต์" class="btn">ORDER NOW</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="step step2">
                        <div class="step-top">
                            <a class="step-click" data-step="2">
    							<div class="b1">ขั้นที่<span>2</span></div>
    							<div class="b2">ผลิตภัณฑ์ทำความสะอาดใบหน้า</div>
	                        </a>
                        </div>
                        <div class="step-inner">
                            <div class="step-title">
                                <h3>ขั้นที่ <span>2</span></h3>
                                <h4>สบู่ที่ไม่ทิ้งสารตกค้างให้เป็นภาระกับผิว</h4>
                                <h2>ฟองนุ่ม ละเอียด สามารถล้างทำความสะอาดได้ง่าย</h2>
                            </div>
                            <div class="detail">
                                <div class="row">
                                    <div class="col-sm-6 desc">
                                        <span class="text-label">ล้างหน้า</span>
                                        <h3>Acseine Facial Soap AD</h3>
                                        <p>
                                            Hypoallergenic Soap ด้วยส่วนผสมที่ปลอดภัยและเลือกมาอย่างพิถีพิถัน จึงเหมาะกับผิวบอบบาง ระคายเคืองง่าย ปราศจากสารเคมีระคายเคืองผิว ต้นเหตุที่ทำให้ผิวเสียหรือเกิดสิว (กรดโอเลอิก,กรดลอริก)
                                        </p>
                                        <p>
                                            100g 400 บาท (รวมภาษี)
                                        </p>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="pro">
                                            <div class="img">
                                                <img src="{{asset('/acseine_campaign/images/product/ad-control/product04.png')}}" class="img-pro"/>
                                                <div class="img-icon">
                                                    <img src="{{asset('/acseine_campaign/images/product/ad-control/icon_am.png')}}" />
                                                    <img src="{{asset('/acseine_campaign/images/product/ad-control/icon_pm.png')}}" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="user-voice">
                                            <a class="modalBtn" data-fancybox data-src="#userVoice2" data-animation-duration="700" data-modal="true">
                                                <div class="image"><img src="{{asset('/acseine_campaign/images/product/ad-control/user_1.png')}}" alt=""></div>
                                                <div class="text">
                                                    <p class="bold">เสียงจากผู้ใช้</p>
                                                    <p>คุ้นเคยเป็นอย่างดีกับผลิตภัณฑ์ที่ปราศจากน้ำมัน...<br />20 ปี, ผิวแห้ง</p>
                                                    <div class="more">
                                                        <span>คลิกเพื่อดูรายละเอียด</span>
                                                    </div>
                                                </div>
                                            </a>
                                            <div id="userVoice2" class="modal-voice modal-2 animated-modal" style="display: none;">
                                                <div class="tb w-100">
                                                    <div class="td image">
                                                        <img src="{{asset('/acseine_campaign/images/product/ad-control/user_1.png')}}" alt="">
                                                    </div>
                                                    <div class="td text">
                                                        <p>ผิวของฉันมักจะอ่อนไหวต่อพวกผลิตภัณฑ์ทำความสะอาด แต่สำหรับผลิตภัณฑ์นี้ ฉันสามารถใช้ได้โดยไม่ระคายเคืองใด ๆ</p>
                                                        <p class="text-right">20 ปี, ผิวแห้ง</p>
                                                    </div>
                                                </div>
                                                <div class="modal-close">
                                                    <span data-fancybox-close>ปิดหน้าต่าง</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="btns">
                                            <a href="#shoplist" class="button link-click blue3">SHOP LIST</a>
                                            <a href="{{path('product_detail',{'id':'6','slug':'facial-soap-ad'})}}" target="_blank" class="button white-blue3">ONLINE SHOP</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="step step3">
                        <div class="step-top">
                            <a class="step-click" data-step="3">
    							<div class="b1">ขั้นที่<span>3</span></div>
    							<div class="b2">ผลิตภัณฑ์ปรับสภาพผิว</div>
	                        </a>
                        </div>
                        <div class="step-inner">
                            <div class="step-title">
                                <h3>ขั้นที่ <span>3</span></h3>
                                <h2>ปรับสภาพผิวและมอบความชุ่มชื่นให้ผิวได้อย่างง่ายดาย</h2>
                            </div>
                            <div class="detail">
                                <div class="row">
                                    <div class="col-sm-6 desc">
                                        <span class="text-label">โลชั่น</span>
                                        <h3>Acseine Skincontrol Lotion AD</h3>
                                        <p>
                                            โลชั่นวอเตอร์ควบคุมสภาพผิว ช่วยปรับสภาพผิวและมอบความชุ่มชื้นแก่ผิวสำหรับผิวแห้งที่เสี่ยงต่อการระคายเคือง อ่อนแอ และอยู่ในช่วงภูมิแพ้
                                        </p>
                                        รูปแบบการใช้
                                        <ol>
                                            <li>สามารถใช้ได้แม้ผิวที่บอบบาง</li>
                                            <li>มี GLYCERIN & BUTYLENE GLYCOL ให้ความชุ่มชื้นสูงแต่ไม่เหนอะหนะ</li>
                                            <li>แทรกซึมเข้าสู่ผิวได้อย่างว่องไวด้วย Watering Control Tech จึงไม่เป็นภาระต่อผิว</li>
                                        </ol>
                                        <p>
                                            120ml 1,300 บาท (รวมภาษี)
                                        </p>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="pro">
                                            <div class="img">
                                                <img src="{{asset('/acseine_campaign/images/product/ad-control/product01.png')}}" class="img-pro"/>
                                                <div class="img-icon">
                                                    <img src="{{asset('/acseine_campaign/images/product/ad-control/icon_am.png')}}" />
                                                    <img src="{{asset('/acseine_campaign/images/product/ad-control/icon_pm.png')}}" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="user-voice">
                                            <a class="modalBtn" data-fancybox data-src="#userVoice3" data-animation-duration="700" data-modal="true">
                                                <div class="image"><img src="{{asset('/acseine_campaign/images/product/ad-control/user_2.png')}}" alt=""></div>
                                                <div class="text">
                                                    <p class="bold">เสียงจากผู้ใช้</p>
                                                    <p>ผิวของฉันแพ้ง่ายระคายเคืองแต่ก็มีหลายโลชั่น...<br />40 ปี, ผิวแห้ง</p>
                                                    <div class="more">
                                                        <span>คลิกเพื่อดูรายละเอียด</span>
                                                    </div>
                                                </div>
                                            </a>
                                            <div id="userVoice3" class="modal-voice modal-3 animated-modal" style="display: none;">
                                                <div class="tb w-100">
                                                    <div class="td image">
                                                        <img src="{{asset('/acseine_campaign/images/product/ad-control/user_2.png')}}" alt="">
                                                    </div>
                                                    <div class="td text">
                                                        <p>ผิวของฉันบอบบางแพ้ง่าย แต่โลชั่นนี้ทำให้ผิวรู้สึกอ่อนโยน สามารถใช้ได้โดยไม่ต้องกังวลว่าจะเกิดอาการแพ้ระคายเคือง</p>
                                                        <p class="text-right">40 ปี, ผิวแห้ง</p>
                                                    </div>
                                                </div>
                                                <div class="modal-close">
                                                    <span data-fancybox-close>ปิดหน้าต่าง</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="btns">
                                            <a href="#shoplist" class="button link-click blue3">SHOP LIST</a>
                                            <a href="{{path('product_detail',{'id':'7','slug':'skincontrol-lotion-ad'})}}" target="_blank" class="button white-blue3">ONLINE SHOP</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="step step4">
                        <div class="step-top">
                            <a class="step-click" data-step="4">
    							<div class="b1">ขั้นที่<span>4</span></div>
    							<div class="b2">บิวตี้เอสเซนส์</div>
	                        </a>
                        </div>
                        <div class="step-inner">
                            <div class="step-title">
                                <h3>ขั้นที่ <span>4</span></h3>
                                <h4>สามารถใช้งานได้โดยไม่ต้องกังวลกับผิวที่บอบบาง</h4>
                                <h2>ปราการไฮยารูโลนิคที่ช่วยปกป้องและคงความชุ่มชื้นยาวนาน</h2>
                            </div>
                            <div class="detail">
                                <div class="row">
                                    <div class="col-sm-6 desc">
                                        <span class="text-label">ผลิตภัณฑ์บำรุงผิว</span>
                                        <h3>Acseine Skincontrol Essence AD</h3>
                                        <p>เนื้อเอสเซนส์สูตร Oil-free ช่วยสร้างสภาวะฟิล์มเคลือบน้ำ "ไฮโดรฟิล ไฮโพลิเมอร์" ผสานกรดไฮยาลูโรนิคเข้มข้นที่ช่วยรักษาความชุ่มชื้นและทำให้ผิวยืดหยุ่น ปราการปกป้องผิวจากมลภาวะ สิ่งเร้าไม่พึงประสงค์ และฝุ่นละอองขนาดเล็ก</p>
                                        <p>
                                            25ml 2,500 บาท (รวมภาษี)
                                        </p>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="pro">
                                            <div class="img">
                                                <img src="{{asset('/acseine_campaign/images/product/ad-control/product02.png')}}" class="img-pro"/>
                                                <div class="img-icon">
                                                    <img src="{{asset('/acseine_campaign/images/product/ad-control/icon_am.png')}}" />
                                                    <img src="{{asset('/acseine_campaign/images/product/ad-control/icon_pm.png')}}" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="user-voice">
                                            <a class="modalBtn" data-fancybox data-src="#userVoice4" data-animation-duration="700" data-modal="true">
                                                <div class="image"><img src="{{asset('/acseine_campaign/images/product/ad-control/user_3.png')}}" alt=""></div>
                                                <div class="text">
                                                    <p class="bold">เสียงจากผู้ใช้</p>
                                                    <p>เป็นผลิตภัณฑ์ที่ฉันชอบใช้ เพราะฉันมีผิวบอบบางแพ้ง่าย...<br />30 ปี, ผิวแห้ง</p>
                                                    <div class="more">
                                                        <span>คลิกเพื่อดูรายละเอียด</span>
                                                    </div>
                                                </div>
                                            </a>
                                            <div id="userVoice4" class="modal-voice modal-4 animated-modal" style="display: none;">
                                                <div class="tb w-100">
                                                    <div class="td image">
                                                        <img src="{{asset('/acseine_campaign/images/product/ad-control/user_3.png')}}" alt="">
                                                    </div>
                                                    <div class="td text">
                                                        <p>เป็นผลิตภัณฑ์ที่ฉันชอบใช้ เพราะฉันมีผิวบอบบางแพ้ง่าย... </p>
                                                        <p>เป็นผลิตภัณฑ์ที่ฉันชอบใช้ เพราะฉันมีผิวบอบบางแพ้ง่าย... แม้จะปราศจากน้ำมันและไม่เหนียวเหนอะหนะ แต่ยังคงให้ความรู้สึกชุ่มชื้น ผิวดูไม่แห้งกร้าน ชุ่มชื้นขึ้นเมื่อได้ใช้</p>
                                                        <p class="text-right">30 ปี, ผิวแห้ง</p>
                                                    </div>
                                                </div>
                                                <div class="modal-close">
                                                    <span data-fancybox-close>ปิดหน้าต่าง</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="btns">
                                            <a href="#shoplist" class="button link-click blue3">SHOP LIST</a>
                                            <a href="{{path('product_detail',{'id':'8','slug':'skincontrol-essence-ad'})}}" target="_blank" class="button white-blue3">ONLINE SHOP</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="step step5">
                        <div class="step-top">
                            <a class="step-click" data-step="5">
    							<div class="b1">ขั้นที่<span>5</span></div>
    							<div class="b2">ผลิตภัณฑ์บำรุงผิว</div>
	                        </a>
                        </div>
                        <div class="step-inner">
                            <div class="step-title">
                                <h3>ขั้นที่ <span>5</span></h3>
                                <h4>ปราศจากสารลดแรงตึงผิว ไม่เหนียวเหนอะหนะ</h4>
                                <h2>ป้องกันการระเหยของความชุ่มชื้น เหลือเพียงผิวสัมผัสที่อ่อนนุ่ม</h2>
                            </div>
                            <div class="detail">
                                <div class="row">
                                    <div class="col-sm-6 desc">
                                        <span class="text-label">ผลิตภัณฑ์บำรุงผิว</span>
                                        <h3>Acseine Milky Gel AD</h3>
                                        <p>มิลค์กี้เจลในอุดมคติสำหรับให้ความชุ่มชื้นสำหรับผิวที่อยู่ในช่วงอ่อนไหว ไฮยารูลอนผสานกับกลีเซอรีนช่วยเสริม Skin Barrier  ป้องกันการระเหยของความชุ่มชื้นพร้อมกับปกป้องผิวจากสิ่งระคายเคืองได้อย่างดี ด้วยเนื้อเจลนุ่ม ไร้ความเหนียวเหนอะ</p>
                                        <p>
                                            60ml 1,300 บาท (รวมภาษี)
                                        </p>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="pro">
                                            <div class="img">
                                                <img src="{{asset('/acseine_campaign/images/product/ad-control/product03.png')}}" class="img-pro"/>
                                                <div class="img-icon">
                                                    <img src="{{asset('/acseine_campaign/images/product/ad-control/icon_am.png')}}" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="user-voice">
                                            <a class="modalBtn" data-fancybox data-src="#userVoice5" data-animation-duration="700" data-modal="true">
                                                <div class="image"><img src="{{asset('/acseine_campaign/images/product/ad-control/user_4.png')}}" alt=""></div>
                                                <div class="text">
                                                    <p class="bold">เสียงจากผู้ใช้</p>
                                                    <p>คุ้นเคยเป็นอย่างดีกับผลิตภัณฑ์ที่ปราศจากน้ำมัน...<br />20 ปี, ผิวแห้ง</p>
                                                    <div class="more">
                                                        <span>คลิกเพื่อดูรายละเอียด</span>
                                                    </div>
                                                </div>
                                            </a>
                                            <div id="userVoice5" class="modal-voice modal-5 animated-modal" style="display: none;">
                                                <div class="tb w-100">
                                                    <div class="td image">
                                                        <img src="{{asset('/acseine_campaign/images/product/ad-control/user_4.png')}}" alt="">
                                                    </div>
                                                    <div class="td text">
                                                        <p>มันให้ความรู้สึกเหมือน "เกราะป้องกันความชุ่มชื้น" ที่แน่นหนา รู้สึกเหมือนเนื้อเจลยังคงแทรกซึมอยูในผิวตลอดเวลา</p>
                                                        <p class="text-right">20 ปี, ผิวแห้ง</p>
                                                    </div>
                                                </div>
                                                <div class="modal-close">
                                                    <span data-fancybox-close>ปิดหน้าต่าง</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="btns">
                                            <a href="#shoplist" class="button link-click blue3">SHOP LIST</a>
                                            <a href="{{path('product_detail',{'id':'9','slug':'milky-gel-ad'})}}" target="_blank" class="button white-blue3">ONLINE SHOP</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="step step6">
                        <div class="step-top">
                            <a class="step-click" data-step="6">
    							<div class="b1">ขั้นที่<span>5<small>คืน</small></span></div>
    							<div class="b2">ผลิตภัณฑ์บำรุงผิว (กลางคืน)</div>
	                        </a>
                        </div>
                        <div class="step-inner">
                            <div class="step-title">
                                <h3>ขั้นที่ <span>5</span></h3>
                                <h4>สำหรับเติมความชุ่มชื้นในช่วงกลางคืน</h4>
                                <h2>ชดเชยความชุ่มชื้น เสริมการทำงานของ Keratin ให้ผิวขณะนอนหลับ</h2>
                            </div>
                            <div class="detail">
                                <div class="row">
                                    <div class="col-sm-6 desc">
                                        <span class="text-label">ผลิตภัณท์บำรุงผิว (กลางคืน)</span>
                                        <h3>Acseine Nourishing Gel AD </h3>
                                        <p>ไนต์เจล สำหรับฟื้นฟูผิวบอบบางตลอดค่ำคืน</p>
                                        <p>Intense Hyaluronic acid ด้วยเนื้อเจลแบบใสแต่เข้มข้นกว่าปกติ 1.5 เท่า เติมเต็มและชดเชยความชุ่มชื้น ผิวอุ้มน้ำดีขึ้น เสริมการทำงานของ Keratin ช่วยชะลอริ้วรอยก่อนวัย สร้างฟิล์มหุ้มผิวชั้นบน ช่วยปกป้องผิวจากความแห้งและสิ่งระคายเคืองที่อาจเข้ามากระทบในยามค่ำ ตื่นมาพบผิวสดใส เนียนนุ่ม สุขภาพดี</p>
                                        <p>
                                            20g 1,400 บาท (รวมภาษี)
                                        </p>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="pro">
                                            <div class="img">
                                                <img src="{{asset('/acseine_campaign/images/product/ad-control/product05.png')}}" class="img-pro"/>
                                                <div class="img-icon">
                                                    <img src="{{asset('/acseine_campaign/images/product/ad-control/icon_pm.png')}}" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="user-voice">
                                            <a class="modalBtn" data-fancybox data-src="#userVoice6" data-animation-duration="700" data-modal="true">
                                                <div class="image"><img src="{{asset('/acseine_campaign/images/product/ad-control/user_5.png')}}" alt=""></div>
                                                <div class="text">
                                                    <p class="bold">เสียงจากผู้ใช้</p>
                                                    <p>ยึดเกาะความชุ่มชื้น...<br />40 ปี, ผิวแห้ง</p>
                                                    <div class="more">
                                                        <span>คลิกเพื่อดูรายละเอียด</span>
                                                    </div>
                                                </div>
                                            </a>
                                            <div id="userVoice6" class="modal-voice modal-6 animated-modal" style="display: none;">
                                                <div class="tb w-100">
                                                    <div class="td image">
                                                        <img src="{{asset('/acseine_campaign/images/product/ad-control/user_5.png')}}" alt="">
                                                    </div>
                                                    <div class="td text">
                                                        <p>ยึดเกาะความชุ่มชื้นให้อยู่กับผิว ฉันรู้สึกว่าสภาพผิวของฉันดีขึ้นแล้ว</p>
                                                        <p class="text-right">40 ปี, ผิวแห้ง</p>
                                                    </div>
                                                </div>
                                                <div class="modal-close">
                                                    <span data-fancybox-close>ปิดหน้าต่าง</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="btns">
                                            <a href="#shoplist" class="button link-click blue3">SHOP LIST</a>
                                            <a href="{{path('product_detail',{'id':'35','slug':'nourishing-gel-ad'})}}" target="_blank" class="button white-blue3">ONLINE SHOP</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="step step7">
                        <div class="step-top">
                            <a class="step-click" data-step="7">
    							<div class="b1">ดูแลผิว</div>
    							<div class="b2">ตัวช่วยเสริมเฉพาะจุด</div>
	                        </a>
                        </div>
                        <div class="step-inner">
                            <div class="step-title">
                                <h3>ตัวช่วยเสริมในการดูแลผิว</h3>
                                <h4>เนื้อครีมบริสุทธิ์เข้มข้น ที่มีส่วนผสมของ r-oryzanol</h4>
                                <h2>สำหรับบริเวณที่ผิวอ่อนไหวหรือแห้งกร้าน แตกลอกเป็นพิเศษ</h2>
                            </div>
                            <div class="detail">
                                <div class="row">
                                    <div class="col-sm-6 desc">
                                        <span class="text-label">ครีมดูแลผิว</span>
                                        <h3>Acseine skin protector AD</h3>
                                        <p>
                                            เนื้อครีมกลั่นบริสุทธิ์เข้มข้นจาก Vaseline ที่มีส่วนผสมของวิตามินจากน้ำมันรำข้าว มีประสิทธิภาพสูงในการปกป้องและสร้างกำแพงความชุ่มชื้น เสริมสร้างความแข็งแรงและการผลิตไขมันระหว่างเซลล์ที่ไม่เพียงพอในผิวแห้งกร้าน
                                        </p>
                                        <p>
                                            15g 1,100 บาท (รวมภาษี)
                                        </p>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="pro">
                                            <div class="img">
                                                <img src="{{asset('/acseine_campaign/images/product/ad-control/product06.png')}}" class="img-pro"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="btns">
                                            <a href="#shoplist" class="button link-click blue3">SHOP LIST</a>
                                            <a href="{{path('product_detail',{'id':'10','slug':'skin-protector-ad'})}}" target="_blank" class="button white-blue3">ONLINE SHOP</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="product-section3 bg-white">
        <div class="container">
            <div class="pad">
                <div class="title">
                    <h2>เหตุผลที่เราแนะนำให้ใช้ Acseine AD Control</h2>
                    <h3>เหมาะสำหรับผิวหนังที่แพ้ง่ายเป็นพิเศษ ไวต่อสิ่งกระตุ้น</h3>
                    <p>สำหรับผิวที่แข็งแรงจะได้รับการปกป้องจากสิ่งเร้าต่าง ๆ ได้เป็นอย่างดี แต่สำหรับผิวที่ไวต่อสิ่งเร้า บอบบางแพ้ง่าย ชั้นผิวหนังจะถูกกระตุ้นได้ไว จนทำให้เกิดอาการแพ้ระคายเคือง</p>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="skin-box">
                            <h3 style="color: #f8bda5;">ชั้นผิวแข็งแรง</h3>
                            <img src="{{asset('/acseine_campaign/images/product/ad-control/image2.png')}}" />
                            <p>การเรียงตัวเป็นกลุ่มของเซลล์ไขมัน ช่วยกักเก็บน้ำในผิวได้ดี จึงทำให้ความสมดุลของปริมาณน้ำและไขมันนั้นดีส่งผลให้สามารถทำหน้าที่เป็นเกราะป้องกันผิวได้เป็นอย่างดี ทำให้ผิวเนียนนุ่ม เรียบเนียน ไม่แห้งกร้าน</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="skin-box">
                            <h3>ชั้นผิวไม่แข็งแรง</h3>
                            <img src="{{asset('/acseine_campaign/images/product/ad-control/image3.png')}}" />
                            <p>กลุ่มเซลล์ไขมันในชั้นผิวหนังแตกตัว ไม่เกาะเป็นกลุ่ม จึงไม่สามารถกักเก็บน้ำในผิวไว้ได้ ความสมดุลของน้ำและไขมันจึงไม่เท่ากัน ทำให้สิ่งแปลกปลอมเข้ามาได้ง่าย จนส่งผลให้ผิวอ่อนไหวต่อสิ่งเร้าภายนอก และกระตุ้นให้เกิดการระคายเคือง</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="product-section4 bottomArrow">
        <div class="container">
            <div class="pad text-center">
                <h2>การดูแลผิวด้วย<br />Acseine AD Control</h2>
                <p>3 วิธีหลุดพ้นจากวงจรผิวเสีย ผิวแห้งกร้าน ที่คุณก็ทำได้ง่าย ๆ</p>
                <ol style="display: inline-block;text-align: left;">
                    <li>ไม่ปล่อยให้ผิวโดนกระตุ้นจากสิ่งที่ทำให้ระคายเคือง</li>
                    <li>รักษาความสะอาดและดูแลผิวอยู่เสมอ</li>
                    <li>ใช้ผลิตภัณฑ์ที่ให้ความชุ่มชื้นกับผิว</li>
                </ol>
                <p>สิ่งสำคัญประการแรก คือ  เลือก “ตัวช่วยดูแล” ที่อ่อนโยน ไม่กระตุ้นการระคายเคือง และหมั่นเติมความชุ่มชื้นให้ผิวอยู่เป็นประจำ จะช่วยให้ผิวดูสุขภาพดี ไม่แห้งเสีย</p>
            </div>
        </div>
    </section>

    <section class="product-section5">
        <div class="container">
            <div class="pad text-center">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <h3>Acseine AD Control เป็นผลิตภัณฑ์ดูแลผิวที่คำนึงและใส่ใจในทุกส่วนผสมที่ใช้ตามมาตรฐานของ Acseine</h3>
                        <p>เรามุ่งเน้นพัฒนาผลิตภัณฑ์ที่ให้ความระคายเคืองต่ำ ไม่เป็นภาระกับผิว และสามารถกักเก็บความชุ่มชื้นให้ผิวได้เป็นอย่างดี เพื่อให้ผิวของคุณสวยงาม แลดูสุขภาพดีดั่งเดิม</p>
                        <div class="label-box">
                            <span class="text-label">Hypoallergenic</span>
                            <span class="text-label">ปราศจากน้ำหอม</span>
                            <span class="text-label">ไม่ใส่สี</span><br />
                            <span class="text-label">ปราศจากสารลดแรงตึงผิว</span><br />
                            <span class="text-label">ปราศจากพาราเบน</span>
                            <span class="text-label">ไม่มีส่วนผสมของแอลกอฮอล์</span>
                        </div>
                        ※ ไม่รับประกันว่าจะไม่เกิดปัญหาผิวกับทุกคน
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="product-section6">
        <div class="container">
            <div class="pad">
                <div class="skin-tb">
                    <div class="left">
    					<h2>ชุดทดลองสำหรับบำรุงผิว</h2>
    					<h4>ช่วงเวลา 14 วันเพื่อดูแลผิวให้คุณอย่างระมัดระวัง</h4>
    					<h3>Skincare Program AD</h3>
    					<div class="price"><span>700</span> บาท (รวมภาษี)</div>
    					<div class="box">
    						<dl>
    							<dt>・Cleansing oil<br class="pcNone"> <span>(makeup remover)</span></dt>
                                <dd>About 2-3 วัน</dd>
    							<dt>・Facial soap AD<br class="pcNone"> <span>(cleanser)</span></dt>
                                <dd>About 20 วัน</dd>
    							<dt>・Skincontrol Lotion AD <br class="pcNone"> <span>(water lotion)</span></dt>
                                <dd>About 14 วัน</dd>
    							<dt>・Skincontrol Essence AD <br class="pcNone"> <span>(beauty essence)</span></dt>
                                <dd>About 2-3 วัน</dd>
    						</dl>
    					</div>
    				</div>
                    <div class="right">
                        เรายังมีชุดทดลองอื่นๆ สำหรับปัญหาผิวที่แตกต่าง<br />
                        ผู้ที่สนใจสามารถพูดคุยกับผู้เชี่ยวชาญด้านผิวหนังได้ที่ Acseine Counter
                    </div>
                </div>

                <div class="btns">
                    <a href="#shoplist" class="button link-click blue3">SHOP LIST</a>
                    <a href="{{path('product_detail',{'id':'15','slug':'skin-care-program-ad'})}}" target="_blank" class="button white-blue3">ONLINE SHOP</a>
                </div>
            </div>
        </div>
    </section>

</div>

    {#{% include "ProjectBundle:"~ view_acseine_campaign ~":_sample.html.twig" %}#}

{% endblock %}

{% block javascripts_footer %}
    {{ parent() }}
    <script>
        $(function () {
            $( ".step-click" ).on( "click", function(e) {
                e.preventDefault();
                $('.step-wrap .tab li').removeClass('active');
                $('.step-wrap .step').removeClass('active');
                var st = $(this).data('step');
                $('.step-wrap .tab li.s' + st ).addClass('active');
                $('.step-wrap .step' + st ).addClass('active');
                var d = $('.step-wrap .step' + st ).offset().top;
                $("body, html").animate({
            		scrollTop: d - 80
            	}, 800 );

                var cls_open = $('.step-wrap .step' + st);
                if(cls_open.hasClass('open')){
                    cls_open.removeClass('open');
                }else{
                    cls_open.addClass('open');
                }
            });
        });

    </script>
{% endblock %}
