{% extends "ProjectBundle:"~ view_layout ~":layout_campaign.html.twig" %}

{% block title %}Blog | {{ parent() }}{% endblock %}

{% block content %}
<section id="blog" class="blog">
	<div class="pad">
	    <div class="container">
			<div class="section-title">
				<h1>Blog</h1>
			</div>
	        <div class="row blog-list">
	            {% for data in paginated.currentpageresults %}
	            <div class="col-sm-6 col-md-4 {% if loop.index0 is divisible by(2) %}sm-clear{% endif %} {% if loop.index0 is divisible by(3) %}md-clear lg-clear{% endif %}">
	                <div class="item">
	                    <a href="{{path('acseine_campaign_blog_detail',{'id':data.id,'slug':data.title|slug})}}">
	                        {% if data.image %}
								<img src="{{asset(data.image) | imagine_filter('blog_640x360')}}" alt="{{data.title}}" />
	                    	{% endif %}
							<div class="box">
								<div class="detail">
									<h4>{{data.title}}</h4>
			                        <p>{{data.shortDesc}}</p>
								</div>
							</div>
	                    </a>
	                </div>
	            </div>
	            {% endfor %}
	        </div>

	        <div class="pagination-box">
	            {% if paginated.havetopaginate %}
	                {{pagerfanta(paginated,'twitter_bootstrap3_translated_template')}}
	            {% endif %}
	        </div>
	    </div>
	</div>
</section>

{% endblock %}
