{% extends "ProjectBundle:"~ view_layout ~":layout_campaign.html.twig" %}

{% block title %}SUPER SUNSHIELD BRIGHT FIT SPF50+, PA++++ | {{ parent() }}{% endblock %}
{% block html_description %}โลชั่นกันแดดเนื้อน้ำนมสำหรับผิวกายและผิวหน้า{% endblock %}
{% block html_keywords %}โลชั่นกันแดด,โลชั่นกันแดดเนื้อน้ำนม,Super Sunshield,ACSEINE{% endblock %}

{% block body_class %}body-sunshield{% endblock %}

{% block content %}
    <section>
        <div class="main-banner pro-banner">
            <div class="item item2">
                <a>
                    <img src="{{asset('/acseine_campaign/images/banner/sunfit.jpg')}}" class="pc" alt="SUPER SUNSHIELD BRIGHT FIT SPF50+, PA++++" />
                    <img src="{{asset('/acseine_campaign/images/banner/sunfit-m.jpg')}}" class="m" alt="SUPER SUNSHIELD BRIGHT FIT SPF50+, PA++++ mobile" />
                </a>
            </div>
        </div>
    </section>

    <section class="sunshield">
        <div class="container">
            <div class="pad">
                <div class="sun-top">
                    <h1 class="pink tt-up">
                        Product Information<br />
                        <img src="{{asset('/acseine_campaign/images/product/sunshield-bright-fit/title_product.png')}}" alt="title product" width="135" />
                    </h1>
                    <br />
                    <h4 class="text-555 mb-10 tw-300">เพื่อผิวแข็งแรง สุขภาพดี ตลอด 365 วัน</h4>
                    <h2 class="text-555 mb-10">ป้องกันผิวหมองคล้ำ · สัมผัสนุ่มสบาย · ผิวโกลว์ สดใส</h2>
                    <h2 class="text-555 tw-300">Super Sunshield <span class="pink">Bright FIT</span> SPF50+</h2>
                </div>
            </div>

            <div class="pad pt-0">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Z4ZXLWyfrPE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="sun-bright brightfit">
        <div class="container">
            <div class="pad pt-0">
                <h2>ผลิตภัณฑ์ที่เราแนะนำให้ใช้</h2>
                <h3 class="pink title-h3">
                    บอดี้การ์ดผิวที่คุณวางใจได้ทุกวัน โลชั่นกันแดดเนื้อน้ำนม<br />ต้านมลภาวะ ปกป้องผิวหมองคล้ำ คืนผิวสดใส
                </h3>
                <div class="row row-5">
                    <div class="col-md-6 col text-center">
                        <img src="{{asset('/acseine_campaign/images/product/sunshield-bright-fit/sun-fit3.png')}}" alt="Super Sunshield BRIGHT FIT SPF50+, PA++++" class="img"/>
                    </div>
                    <div class="col-md-6 col detail1">
                        <p>
                            Super Sunshield BRIGHT FIT SPF50+, PA++++<br />
                            40 g. ฿1,100.00 (รวมภาษี) สำหรับผิวหน้าและผิวกาย
                        </p>
                        <p>
                            กันแดดเนื้อน้ำนมจะแตกตัวคล้ายน้ำในทันทีเมื่อทาครั้งแรก ซึมลงผิวในทันทีจึงไม่ทิ้งสัมผัสเหนียวเหนอะ
                            ช่วยลดโอกาสการเกิด Carbonylation จากมลภาวะ ซึ่งทำให้ผิวเสีย ดูหมองคล้ำไม่สดใส
                            ทั้งคงทนต่อน้ำและเหงื่อหากล้างออกง่ายโดยไม่ต้องใช้ Makeup remover จึงบอกลาปัญหาผิวแห้งหยาบกร้าน
                            หน้าขาวลอย เครื่องสำอางหลุดลอกและเมคอัพตกค้างได้เลย
                        </p>
                        <p>
                            * เทคโนโลยี PV (Perfect Veil) สีย้อมไม่สัมผัสผิวโดยตรง<br />
                            * ปราศจากน้ำหอม ปราศจากสารปรอท สาร paraben (สารกันบูด) ปราศจากแอลกอฮอล์
                        </p>
                        <p>
                            ※ Water resistant / Non-comedogenic<br />
                            ※ ACS Hypoallergenic
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="sunshield brightfit">
        <div class="container">
            <div class="img-res">
                <img src="{{asset('/acseine_campaign/images/product/sunshield-bright-fit/ballon2.png')}}" class="pc" alt="" />
                <img src="{{asset('/acseine_campaign/images/product/sunshield-bright-fit/ballon2-m.png')}}" class="m" alt="" />
            </div>

            <div class="text-center" style="padding: 30px 0;">
                <img src="{{asset('/acseine_campaign/images/product/sunshield-bright-fit/arrow-down.png')}}" alt="" style="max-width: 600px;" />
            </div>

            <h2 class="text-center">ครีมกันแดดเพื่อปกป้องผิวจาก <span class="pink">Super Sunshield</span></h2>

            <div class="pad detail2">
                <h1 class="text-center tw-300 title1">
                    <span class="pink">ความแข็งแรง ความอ่อนโยนและความสวยงาม</span>  ที่ร่างกายต้องการ<br />
                    คุณสมบัติ <span class="pink">4</span> อย่างที่ทำให้ผิวในฝันของคุณเป็นจริง
                </h1>
                <div class="fit-features">

                    {% for i in 1..4 %}
                        <div class="shape-box shape-box{{loop.index}}">
                            <div class="tb">
                                <div class="td">
                                    {% set img_alt = 'campaign.sunshield_brightfit.performance_'~loop.index %}
                                    <img alt="{{img_alt|trans}}" src="{{asset('/acseine_campaign/images/product/sunshield-bright-fit/ds_base-' ~ loop.index ~ '.png')}}" usemap="#shape{{loop.index}}" id="shape{{loop.index}}" hidefocus="true"/>
                                    <map name="shape{{loop.index}}">
                                        <area coords="76,13,207,13,265,121,207,230,76,230,13,121" shape="poly" href="javascript:;" data-fancybox data-src="#shape_content{{loop.index}}" data-animation-duration="700" data-modal="true">
                                    </map>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>

            <h3 class="text-center mt-0 mb-15">ด้วย SPF50+ ที่ปกป้องผิวของคุณให้แข็งแรง สุขภาพดีตลอด 365 วัน</h3>
            <h1 class="text-center mt-0 mb-10 pink">บอดี้การ์ดผิวที่คุณวางใจได้ทุกวัน โลชั่นกันแดดเนื้อน้ำนม</h1>
            <h1 class="text-center mt-0 mb-20 pink">ต้านมลภาวะ ปกป้องผิวหมองคล้ำ คืนผิวสดใส</h1>
            <div class="brightfit-pro">
                <div class="row row-5 mb-20">
                    <div class="col-sm-4 col col-sm-push-7 img">
                        <img src="{{asset('/acseine_campaign/images/product/sunshield-bright-fit/bright-fit.png')}}" alt="Super Sunshield BRIGHT FIT SPF50+, PA++++"/>
                    </div>
                    <div class="col-sm-6 col col-sm-pull-3 col-md-5 col col-md-pull-2 detail3">
                        <h4 class="tw-600">Super Sunshield BRIGHT FIT SPF50+, PA++++</h4>
                        <p>(ครีมกันแดดเนื้อน้ำนม)</p>
                        <p class="mb-20">40 g. ฿1,100.00 (รวมภาษี) สำหรับผิวหน้าและผิวกาย</p>
                        {% include "ProjectBundle:"~ view_acseine_campaign ~":_order_now.html.twig" with {'id':'17','slug':'super-sunshield-bright-fit-spf50-+-pa-++++'} %}
                        <a href="#shoplist" class="button blue js_waveBtn link-click w-100"><div class="hoverContainer"><div class="hoverPoint"></div></div>Shop list</a>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <div id="shape_content1" class="popup-shape-content animated-modal" style="display: none;">
        <h2>คุมแสงสะท้อน ปรับผิวให้ดูสวย</h2>
    	<p>ผิวหนังบอบบางซึ่งได้รับความเสียหายซ้ำ ๆ จะสูญเสียความสวยงามและกระจ่างใส จนทำให้ผิวเกิดความมัน และดูหมองคล้ำ</p>
        <p>ดังนั้นเราจึงคิดค้น “Brilliant Powder” ที่ช่วยเคลือบทับส่วนที่แห้งหมอง สร้างลุคผิวแลดูสุขภาพดี Glow อย่างสดใส เพื่อให้ผิวที่ถูกทำลายกลับคืนความสวยงามอย่างเป็นธรรมชาติน่าประทับใจ</p>
        <p>นวัตกรรมนี้จะช่วยควบคุมสมดุล “การสะท้อนของแสง” และทำให้ผิวที่ดูแห้ง หมอง ไม่มีชีวิตชีวามีส่วนที่เป็นประกายเงางาม</p>
        <p>ไม่เพียง แต่สีผิวและภาพลักษณ์ภายนอกเท่านั้น แต่ยังสามารถปรับคุณภาพผิวให้สุขภาพดียิ่งขึ้นกว่าเดิม!</p>
        <div class="text-center">
            <img src="{{asset('/acseine_campaign/images/product/sunshield-bright-fit/popup1-2.png')}}" alt="ควบคุมแสงและทำให้ผิวสวย" />
        </div>
        <button data-fancybox-close>Close me</button>
    </div>

    <div id="shape_content2" class="popup-shape-content animated-modal" style="display: none;">
        <h2>ปกป้องผิวจาก SPF 50+ ทำให้ผิวนุ่ม สบาย</h2>
        <p>High UV Cut Powder ส่วนผสมที่ช่วย “สะท้อนรังสี UV” ความหนาแน่นสูง เป็นการผสมผสานระหว่างสารกันแดดอนุภาคเล็กและใหญ่สองชนิดในอัตราส่วนที่เหมาะสม ช่วยปกปิดช่องว่างของอนุภาคกันแดด ปกป้องผิวจากรังสี UV สูงโดยไม่ทำให้ผิวขาววอก</p>
        <p>ด้วยสูตร Water-based และสารเคลือบชนิดที่ช่วยให้ความชุ่มชื้น (Emollient component) จึงช่วยลดการเสียดสีและให้น้ำหนักที่เบาสบาย ไม่เหนียวเหนอะหนะ ไม่เป็นภาระต่อผิว</p>
        <p>"Super Sunshield BRIGHT FIT" เป็นกันแดดสูตรไร้สารเคมี (Non-chemical) ที่ให้การปกป้องสูงด้วย SPF 50 + / PA ++++ บอดี้การ์ดผิวที่ช่วยปกป้องผิวจากแสงแดด พร้อมเผยผิวสดใสเป็นธรรมชาติ</p>
        <div class="text-center">
            <img src="{{asset('/acseine_campaign/images/product/sunshield-bright-fit/popup2-2.png')}}" alt="ปกป้องผิวจาก SPF 50+ ทำให้ผิวนุ่ม สบาย" />
        </div>
        <button data-fancybox-close>Close me</button>
    </div>

    <div id="shape_content3" class="popup-shape-content animated-modal" style="display: none;">
        <h2>ทนน้ำ ทนเหงื่อ ยาวนานตลอดทั้งวัน แต่ล้างออกได้ง่าย</h2>
        <p>"MC Chitosan Veil“นวัตกรรมเฉพาะของแอคซีนที่ทำหน้าที่เหมือนฟิล์มเคลือบผิว ช่วยให้กันแดดทนต่อน้ำและเหงื่อได้เป็นอย่างดี แต่สามารถล้างออกได้ง่ายด้วยผลิตภัณฑ์ทำความสะอาดทั่วไป</p>
        <p>พร้อมช่วยรักษาความชุ่มชื้น เพิ่มการซึมผ่านของสารให้ความชุ่มชื้น และคงประสิทธิภาพของสารกันแดด</p>
        <div class="text-center">
            <img src="{{asset('/acseine_campaign/images/product/sunshield-bright-fit/popup3-2.png')}}" alt="ทนน้ำ ทนเหงื่อ ยาวนานตลอดทั้งวัน แต่ล้างออกได้ง่าย" />
        </div>
        <button data-fancybox-close>Close me</button>
    </div>

    <div id="shape_content4" class="popup-shape-content animated-modal" style="display: none;">
        <h2>เพื่อผิวเนียนนุ่ม ชุ่มชื้น</h2>
        <p>เมื่อผิวหนังแห้งกร้าน จะส่งผลให้ผิวถูกทำร้ายจากรังสี UV ได้ง่ายขึ้น Acseine จึงได้นำนวัตกรรม MC chitosan นวัตกรรมเฉพาะของแอคซีนที่ทำหน้าที่เหมือนฟิล์มเคลือบผิว  ซึ่งให้ความชุ่มชื้นมากกว่าไฮยาลูรอน 1.7 เท่า และสามารป้องกันผิวจากการถูกทำร้ายของแสงแดดได้ดีอีกด้วย</p>
        <div class="text-center" style="background-color: #f9f9f9;">
            <img src="{{asset('/acseine_campaign/images/product/sunshield-bright-fit/popup4-2.png')}}" alt="เพื่อผิวเนียนนุ่ม ชุ่มชื้น" />
            <p style="padding: 20px 15px;max-width: 600px;margin: 0 auto;font-size: 14px;">
                เนื้อโลชั่นจะเปลี่ยนเป็นน้ำเมื่อซึมเข้าสู่ผิว โดยมีสารสะท้อนรังสี UV ช่วยปกป้องผิวจากการถูกทำร้ายของรังสี UV และยังมี Brilliant Powder ที่ช่วยให้ผิวกระจ่างใส  พร้อมด้วย MC chitosan ที่ทำหน้าที่เหมือนฟิล์มเคลือบผิว และสามารถทนต่อน้ำและเหงื่อได้เป็นอย่างดี
            </p>
        </div>
        <button data-fancybox-close>Close me</button>
    </div>


    {#{% include "ProjectBundle:"~ view_acseine_campaign ~":_sample.html.twig" %}#}

{% endblock %}


{% block javascripts_body %}
    {{ parent() }}
    <script>
    // $(document).ready(function() {
    //     $.fancybox.open({
    //     	touch: false,
    //         clickContent: false,
    //         clickSlide: false,
    //         clickOutside: false,
    //     })
    // });
    </script>

{% endblock %}
