{% extends "ProjectBundle:"~ view_layout ~":layout_campaign.html.twig" %}

{% block title %}ONLINE SKIN COUNSELING | {{ parent() }}{% endblock %}

{% block body_class %}body-counseling{% endblock %}

{% block content %}
<section>
    <div class="main-banner pro-banner">
        <div class="item item1">
            <a>
                <img src="{{asset('/acseine_campaign/images/counseling/Banner-ACS.png')}}" />
            </a>
        </div>
    </div>
</section>

<section class="qa-section">
    <div class="container">
        <div class="pad pb-0">
            <div class="section-title">
                <h1 class="mb-20">ปรึกษาปัญหาสุขภาพผิวกับ ACSEINE</h1>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        หากมีปัญหาเกี่ยวกับผิว  สามารถเข้ามาตรวจสอบสภาพผิว สอบถามหรือปรึกษา และรับคำแนะนำในการดูแลผิว พร้อมเคล็ดลับการเลือกใช้ผลิตภัณฑ์ที่ดีต่อสภาพผิวของคุณได้ที่ เคาน์เตอร์ ACSEINE  ณ Siam Takashimaya ห้างสรรพสินค้า ICONSIAM โซน Beauty Avenue ชั้น M อย่าลังเลที่จะปรึกษากับเรา เพราะเราพร้อมดูแลผิวของคุณเสมอ...
                    </div>
                </div>
            </div>
        </div>

        <div class="anchor-list">
            <ul>
                <li>
                    <a href="#q1" class="link-click">
                        <span>1</span>
                        บางครั้งฉันรู้สึกว่าผิวของฉันแห้ง หยาบกระด้าง ฉันเข้าข่ายเป็นโรคผิวหนังหรือไม่ ?
                    </a>
                </li>
                <li>
                    <a href="#q2" class="link-click">
                        <span>2</span>
                        ควรดูแลผิวแห้งเสียอย่างไร ?
                    </a>
                </li>
                <li>
                    <a href="#q3" class="link-click">
                        <span>3</span>
                        หากใช้โลชั่นบำรุงผิวหลายชนิดแล้ว จำเป็นต้องทาครีมหรือบำรุงด้วยผลิตภัณฑ์อื่น ๆ อีกหรือไม่ ?
                    </a>
                </li>
                <li>
                    <a href="#q4" class="link-click">
                        <span>4</span>
                        เมื่อสภาพผิวไม่ดี จะดีกว่าไหมที่จะไม่ใช้ผลิตภัณฑ์ทำความสะอาดผิวหน้า ?
                    </a>
                </li>
            </ul>
        </div>

        <div class="pad qa-contents">
            <div class="item" id="q1">
                <div class="q">
                    <div class="text-wrap">
                        <div class="box">
                            <div class="q-title">Q1</div>
                            <h4>บางครั้งฉันรู้สึกว่าผิวของฉันแห้ง หยาบกระด้าง ฉันเข้าข่ายเป็นโรคผิวหนังหรือไม่ ?</h4>
                        </div>
                    </div>
                </div>
                <div class="a">
                    <div class="box">
                        <div class="q-title">A</div>
                        <h4>สำหรับปัญหาผิวที่หลายคนมักเจอจนเป็นเรื่องปกตินั่นคือความแห้งกร้านและความหมองคล้ำ โดยเฉพาะอย่างยิ่งในช่วงเปลี่ยนผ่านของฤดูกาลต่าง ๆ ที่ทำให้อุณหภูมิเปลี่ยนแปลง ทำให้รู้สึกถูกกระตุ้นได้ง่าย นอกจากเรื่องของสภาพอากาศ ปัจจัยต่าง ๆ อาทิ ประจำเดือน ความเครียด การพักผ่อนไม่เพียงพอ ก็อาจทำให้เกิดปัญหาเรื่องผิวหนังได้ง่ายเช่นเดียวกัน  ซึ่งอาการผิวแห้ง หยาบกระด้าง หากไม่ได้รับการดูแลที่ดีก็อาจส่งผลให้เกิดเป็นโรคผิวหนังได้ในอนาคต.</h4>
                    </div>
                </div>
            </div>
            <div class="item" id="q2">
                <div class="q">
                    <div class="text-wrap">
                        <div class="box">
                            <div class="q-title">Q2</div>
                            <h4>ควรดูแลผิวแห้งเสียอย่างไร ? </h4>
                        </div>
                    </div>
                </div>
                <div class="a">
                    <div class="box">
                        <div class="q-title">A</div>
                        <h4>วิธีการดูแลผิวเมื่อเริ่มสัมผัสได้ว่าผิวแห้งเสีย ควรเลือกใช้ผลิตภัณฑ์ดูแลผิวที่ได้รับการยืนยันจากแพทย์ผิวหนังหรือผู้เชี่ยวชาญว่าสามารถช่วยในเรื่องของการคืนความชุ่มชื้นให้ผิว ซึ่งอาจหมายถึงการเลือกใช้ผลิตภัณฑ์อิมัลลชั่นและเจลที่แทรกซึมเข้าสู่ผิวได้ง่ายและไม่ทำให้ระคายเคืองผิว</h4>
                    </div>
                </div>
            </div>
            <div class="item" id="q3">
                <div class="q">
                    <div class="text-wrap">
                        <div class="box">
                            <div class="q-title">Q3</div>
                            <h4>หากใช้โลชั่นบำรุงผิวหลายชนิดแล้ว จำเป็นต้องทาครีมหรือบำรุงด้วยผลิตภัณฑ์อื่น ๆ อีกหรือไม่ ?</h4>
                        </div>
                    </div>
                </div>
                <div class="a">
                    <div class="box">
                        <div class="q-title">A</div>
                        <h4>เพื่อให้การบำรุงผิวเป็นไปอย่างมีประสิทธิภาพ การใช้โลชั่นเพียงอย่างเดียวอาจไม่เพียงพอเพราะโลชั่นมีบทบาทเพื่อให้ความชุ่มชื้นแก่ผิวในระดับที่เหมาะสม แต่อิลมัลชั่นและครีมต่าง ๆ มีคุณสมบัติอื่นที่มีหน้าที่รักษาและกักเก็บความชุ่มชื้นให้ผิว แม้โลชั่นจะให้ความชุ่มฉ่ำสบายผิวแต่การใช้ผลิตภัณฑ์ควบคู่ไปด้วยจะช่วยเสริมประสิทธิภาพในการเพิ่ม กักเก็บ ความชุ่มชื้นในผิวได้ยาวนาน และให้ผลลัพธ์ที่ดีกว่าต่อสุขภาพผิวมากกว่าใช้ตัวเดียวอย่างแน่นอน</h4>
                    </div>
                </div>
            </div>
            <div class="item" id="q4">
                <div class="q">
                    <div class="text-wrap">
                        <div class="box">
                            <div class="q-title">Q4</div>
                            <h4>เมื่อสภาพผิวไม่ดี จะดีกว่าไหมที่จะไม่ใช้ผลิตภัณฑ์ทำความสะอาดผิวหน้า ? </h4>
                        </div>
                    </div>
                </div>
                <div class="a">
                    <div class="box">
                        <div class="q-title">A</div>
                        <h4>สภาพผิวที่ไม่ดี ใช่ว่าจะต้องลดการดูแล แต่ในช่วงสภาวะที่ผิวเสีย อาจทำให้เกราะป้องกันและการทำงานของผิวลดลง ส่งผลให้ผิวแห้งกร้าน ไม่ชุ่มชื้น เกิดสิว และสิ่งสกปรกอุดตันรูขุมขน จึงต้องเพิ่มการดูแลที่มากกว่าเดิม พิถีพิถันในการเลือกใช้ผลิตภัณฑ์ที่อ่อนโยน และตอบโจทย์สภาพผิว เพื่อแก้ปัญหาผิวเสียได้อย่างถูกจุด เพราะการทำความสะอาดก็เป็นขั้นตอนสำคัญของการดูแลผิว</h4>
                    </div>
                </div>
            </div>

            <div class="item qa-form" ng-app="counselingApp" ng-controller="counselingController">
                <div class="title">
                    <div class="tb">
                        <div class="td title-img"><img src="{{asset('/acseine_campaign/images/counseling/pic01.jpg')}}" /></div>
                        <div class="td"><h3>กรอกข้อมูลเพิ่มเติม<br />หากต้องการรับคำปรึกษากับ ACSEINE</h3></div>
                    </div>
                </div>

                <div class="box">
                    <form ng-submit="processForm()" autocomplete="off" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">ชื่อ – นามสกุล</label>
                            <div class="col-sm-9">
                                <input type="text" name="first_name" class="form-control" name="counseling_register[first_name]" ng-model="formData.param.first_name"/>
                                <div class="text-error ng-cloak" ng-show="errors.first_name">{{'{{errors.first_name}}'}}</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">เบอร์โทรศัพท์</label>
                            <div class="col-sm-9">
                                <input type="tel" name="phone" class="form-control" name="counseling_register[phone]" ng-model="formData.param.phone"/>
                                <div class="text-error ng-cloak" ng-show="errors.phone">{{'{{errors.phone}}'}}</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">อีเมล์</label>
                            <div class="col-sm-9">
                                <input type="text" name="email" class="form-control" name="counseling_register[email]" ng-model="formData.param.email"/>
                                <div class="text-error ng-cloak" ng-show="errors.email">{{'{{errors.email}}'}}</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">คุณอาศัยอยู่จังหวัดใด?</label>
                            <div class="col-sm-9 col-md-5">
                                <select name="counseling_register[province]" class="form-control" ng-model="formData.param.province">
                                    <option value="" selected>--- เลือกจังหวัด ---</option>
                                    <option value="Bangkok">กรุงเทพมหานคร</option>
                                    <option value="Samut Prakan">สมุทรปราการ</option>
                                    <option value="Nonthaburi">นนทบุรี</option>
                                    <option value="Pathum Thani">ปทุมธานี</option>
                                    <option value="Phra Nakhon Si Ayutthaya">พระนครศรีอยุธยา</option>
                                    <option value="Ang Thong">อ่างทอง</option>
                                    <option value="Loburi">ลพบุรี</option>
                                    <option value="Sing Buri">สิงห์บุรี</option>
                                    <option value="Chai Nat">ชัยนาท</option>
                                    <option value="Saraburi">สระบุรี
                                    <option value="Chon Buri">ชลบุรี</option>
                                    <option value="Rayong">ระยอง</option>
                                    <option value="Chanthaburi">จันทบุรี</option>
                                    <option value="Trat">ตราด</option>
                                    <option value="Chachoengsao">ฉะเชิงเทรา</option>
                                    <option value="Prachin Buri">ปราจีนบุรี</option>
                                    <option value="Nakhon Nayok">นครนายก</option>
                                    <option value="Sa Kaeo">สระแก้ว</option>
                                    <option value="Nakhon Ratchasima">นครราชสีมา</option>
                                    <option value="Buri Ram">บุรีรัมย์</option>
                                    <option value="Surin">สุรินทร์</option>
                                    <option value="Si Sa Ket">ศรีสะเกษ</option>
                                    <option value="Ubon Ratchathani">อุบลราชธานี</option>
                                    <option value="Yasothon">ยโสธร</option>
                                    <option value="Chaiyaphum">ชัยภูมิ</option>
                                    <option value="Amnat Charoen">อำนาจเจริญ</option>
                                    <option value="Nong Bua Lam Phu">หนองบัวลำภู</option>
                                    <option value="Khon Kaen">ขอนแก่น</option>
                                    <option value="Udon Thani">อุดรธานี</option>
                                    <option value="Loei">เลย</option>
                                    <option value="Nong Khai">หนองคาย</option>
                                    <option value="Maha Sarakham">มหาสารคาม</option>
                                    <option value="Roi Et">ร้อยเอ็ด</option>
                                    <option value="Kalasin">กาฬสินธุ์</option>
                                    <option value="Sakon Nakhon">สกลนคร</option>
                                    <option value="Nakhon Phanom">นครพนม</option>
                                    <option value="Mukdahan">มุกดาหาร</option>
                                    <option value="Chiang Mai">เชียงใหม่</option>
                                    <option value="Lamphun">ลำพูน</option>
                                    <option value="Lampang">ลำปาง</option>
                                    <option value="Uttaradit">อุตรดิตถ์</option>
                                    <option value="Phrae">แพร่</option>
                                    <option value="Nan">น่าน</option>
                                    <option value="Phayao">พะเยา</option>
                                    <option value="Chiang Rai">เชียงราย</option>
                                    <option value="Mae Hong Son">แม่ฮ่องสอน</option>
                                    <option value="Nakhon Sawan">นครสวรรค์</option>
                                    <option value="Uthai Thani">อุทัยธานี</option>
                                    <option value="Kamphaeng Phet">กำแพงเพชร</option>
                                    <option value="Tak">ตาก</option>
                                    <option value="Sukhothai">สุโขทัย</option>
                                    <option value="Phitsanulok">พิษณุโลก</option>
                                    <option value="Phichit">พิจิตร</option>
                                    <option value="Phetchabun">เพชรบูรณ์</option>
                                    <option value="Ratchaburi">ราชบุรี</option>
                                    <option value="Kanchanaburi">กาญจนบุรี</option>
                                    <option value="Suphan Buri">สุพรรณบุรี</option>
                                    <option value="Nakhon Pathom">นครปฐม</option>
                                    <option value="Samut Sakhon">สมุทรสาคร</option>
                                    <option value="Samut Songkhram">สมุทรสงคราม</option>
                                    <option value="Phetchaburi">เพชรบุรี</option>
                                    <option value="Prachuap Khiri Khan">ประจวบคีรีขันธ์</option>
                                    <option value="Nakhon Si Thammarat">นครศรีธรรมราช</option>
                                    <option value="Krabi">กระบี่</option>
                                    <option value="Phangnga">พังงา</option>
                                    <option value="Phuket">ภูเก็ต</option>
                                    <option value="Surat Thani">สุราษฎร์ธานี</option>
                                    <option value="Ranong">ระนอง</option>
                                    <option value="Chumphon">ชุมพร</option>
                                    <option value="Songkhla">สงขลา</option>
                                    <option value="Satun">สตูล</option>
                                    <option value="Trang">ตรัง</option>
                                    <option value="Phatthalung">พัทลุง</option>
                                    <option value="Pattani">ปัตตานี</option>
                                    <option value="Yala">ยะลา</option>
                                    <option value="Narathiwat">นราธิวาส</option>
                                    <option value="Buogkan">บึงกาฬ</option>
                                </select>
                                <div class="text-error ng-cloak" ng-show="errors.province">{{'{{errors.province}}'}}</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">คุณรู้จัก ACSEINE หรือไม่?</label>
                            <div class="col-sm-9">
                                {% set know_acseines = ['รู้จัก','ไม่รู้จัก'] %}
                                <div class="radio">
                                    {% for know_acseine in know_acseines %}
                                    <label>
                                        <input type="radio" name="counseling_register[]" id="know_acseine_{{loop.index}}" value="{{know_acseine}}" ng-model="formData.param.know_acseine" {% if know_acseine == 'ไม่รู้จัก' %}ng-click="resetKnow()"{% endif %}> {{know_acseine}}
                                    </label>
                                    {% endfor %}
                                </div>
                                <div class="text-error ng-cloak" ng-show="errors.know_acseine">{{'{{errors.know_acseine}}'}}</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">ถ้ารู้จัก คุณรู้จัก ACSEINE ได้อย่างไร</label>
                            <div class="col-sm-9">
                                {% set know_acseine_yess = ['อีเวนต์', 'Social media', 'TV', 'Youtube', 'Influencer', 'เพื่อน', 'ญาติ', 'นิตยาสาร', 'อื่นๆ'] %}
                                <div class="checkbox">
                                    {% for know_acseine_yes in know_acseine_yess %}
                                    <label>
                                        <input type="checkbox" name="counseling_register[know_acseine_yes][]" id="know_acseine_yes_{{loop.index}}" value="{{know_acseine_yes}}" ng-model="formData.param.know_acseine_yes['{{know_acseine_yes}}']" ng-disabled="formData.param.know_acseine == 'ไม่รู้จัก'"> {{know_acseine_yes}}
                                        {% if know_acseine_yes == 'อื่นๆ' %}
                                            <input type="text" name="counseling_register[know_acseine_yes_other]" id="know_acseine_yes_other" ng-model="formData.param.know_acseine_yes_other" ng-disabled="formData.param.know_acseine == 'ไม่รู้จัก'">
                                        {% endif %}
                                    </label>
                                    {% endfor %}
                                </div>
                                <div class="text-error ng-cloak" ng-show="errors.know_acseine_yes">{{'{{errors.know_acseine_yes}}'}}</div>
                                <div class="text-error ng-cloak" ng-show="errors.know_acseine_yes_other">{{'{{errors.know_acseine_yes_other}}'}}</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">คุณอายุเท่าไร?</label>
                            <div class="col-sm-9 col-md-5">
                                {% set age_range_data = ['14 - 18', '19 - 25', '26 - 35', '36 - 45', '45+'] %}
                                <select name="counseling_register[age_range]" class="form-control" ng-model="formData.param.age_range">
                                    <option value="" selected>--- เลือกช่วงอายุ ---</option>
                                    {% for age_range in age_range_data %}
                                    <option value="{{age_range}}">{{age_range}}</option>
                                    {% endfor %}
                                </select>
                                <div class="text-error ng-cloak" ng-show="errors.age_range">{{'{{errors.age_range}}'}}</div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-3 control-label"></label>
                            <div class="col-sm-9">
                                <h4>Q1. คุณมีลักษณะผิวแบบไหน?</h4>
                                {% set answers1_data = ['ผิวธรรมดา', 'ผิวแห้ง', 'ผิวมัน', 'ผิวผสม', 'ผิวแพ้ง่าย'] %}
                                <div class="radio">
                                    {% for answers1 in answers1_data %}
                                    <label>
                                        <input type="radio" name="counseling_register[answers1]" id="answers1_{{loop.index}}" value="{{answers1}}" ng-model="formData.param.answers1"> {{answers1}}
                                    </label>
                                    {% endfor %}
                                </div>
                                <div class="text-error ng-cloak" ng-show="errors.answers1">{{'{{errors.answers1}}'}}</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <h4>Q2. สภาพผิวหน้าของคุณมีปัญหาอะไรบ้าง? <span class="tw-300">(สามารถตอบได้มากกว่า 1 ข้อ)</span></h4>
                                {% set answers2_data = ['ผิวไม่เรียบเนียน','ผิวแห้ง','ผิวมัน','รูขุมขนกว้าง','สิวอุดตัน','สิว','รอยแผลเป็นจากสิว','ผิวหมองคลํ้า','รอยคลํ้าใต้ดวงตา','จุดด่างดํา','คันตามผิวหนัง','โรคผิวหนังภูมิแพ้','ริ้วรอย','ผิวหย่อนคล้อย','ผิวแห้งขาดความชุ่มชื้น'] %}
                                <div class="checkbox">
                                    {% for answers2 in answers2_data %}
                                    <label>
                                        <input type="checkbox" name="counseling_register[answers2][]" id="answers2_{{loop.index}}" value="{{answers2}}" ng-model="formData.param.answers2['{{answers2}}']"> {{answers2}}
                                    </label>
                                    {% endfor %}
                                </div>
                                <div class="text-error ng-cloak" ng-show="errors.answers2">{{'{{errors.answers2}}'}}</div>

                                <div class="ng-clock" ng-show="formData.param.answers2['โรคผิวหนังภูมิแพ้'] == true">
                                    <h4 style="margin-top: 15px;">กรุณากรอกชื่อโรคผิวหนังภูมิแพ้ที่คุณเป็น</h4>
                                    <input type="text" name="answers2_other" class="form-control" name="counseling_register[answers2_other]" ng-model="formData.param.answers2_other"/>
                                    <div class="text-error ng-cloak" ng-show="errors.answers2_other">{{'{{errors.answers2_other}}'}}</div>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <h4>Q3. ปัจจุบันคุณใช้ผลิตภัณฑ์ดูแลผิวประเภทใด ? <span class="tw-300">(สามารถตอบได้มากกว่า 1 ข้อ)</span></h4>
                                {% set answers3_data = ['คลีนซิ่ง','ครีมบํารุงผิว','อิลมัลชั่น','เซรั่ม','ครีมกันแดด','อื่นๆ'] %}
                                <div class="checkbox">
                                    {% for answers3 in answers3_data %}
                                    <label>
                                        <input type="checkbox" name="counseling_register[answers3][]" id="answers3_{{loop.index}}" value="{{answers3}}" ng-model="formData.param.answers3['{{answers3}}']"> {{answers3}}
                                        {% if answers3 == 'อื่นๆ' %}
                                            <input type="text" name="counseling_register[answers3_other]" id="answers3_other" ng-model="formData.param.answers3_other">
                                        {% endif %}
                                    </label>
                                    {% endfor %}
                                </div>
                                <div class="text-error ng-cloak" ng-show="errors.answers3">{{'{{errors.answers3}}'}}</div>
                                <div class="text-error ng-cloak" ng-show="errors.answers3_other">{{'{{errors.answers3_other}}'}}</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <h4>Q4. ปัจจุบันคุณใช้ผลิตภัณฑ์ยี่ห้ออะไร</h4>
                                <input type="text" name="answers4" class="form-control" name="counseling_register[answers4]" ng-model="formData.param.answers4"/>
                                <div class="text-error ng-cloak" ng-show="errors.answers4">{{'{{errors.answers4}}'}}</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <h4>Q5. หากมีคำถามเพิ่มเติมเกี่ยวกับปัญหาสุขภาพผิวที่อยากสอบถามกับ Acseine โปรดระบุ</h4>
                                <textarea name="counseling_register[note]" id="note" rows="5" ng-model="formData.param.note" class="form-control"></textarea>
                                <div class="text-error ng-cloak" ng-show="errors.note">{{'{{errors.note}}'}}</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <div role="alert" class="alert alert-success ng-cloak" ng-show="message" ng-class="success ? 'alert-success' : 'alert-danger'">
                                    {{'{{message}}'}}
                                    <button type="button" class="close" ng-click="message=''">
                                        <span aria-hidden="true" style="font-family: Roboto;">&times;</span>
                                    </button>
                                </div>

                                <div class="form-footer">
                                    <i class="fa fa-circle-o-notch fa-spin fa-2x fa-fw ng-cloak" ng-show="getDataLoading()"></i>
                                    <button type="submit" class="button blue3 js_waveBtn" ng-hide="getDataLoading()">ส่งข้อมูล</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</section>

<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

<script>
    var counselingApp = angular.module('counselingApp', []);
    counselingApp.factory('counseling_data', ['$http', function counseling_data($http){
        return {
            create: function(dataObj){
                return $http({
                    method:'POST',
                    url: '{{campaign_api_url}}',
                    data: $.param(dataObj),
                    headers: {
                        'Authorization':'{{campaign_api_authorization}}',
                        'Content-Type':'application/x-www-form-urlencoded; charset=UTF-8'
                    }
                });
            }
        }
    }]);

    counselingApp.controller('counselingController', ['$scope', '$sce', 'counseling_data', function($scope, $sce, counseling_data) {
        $scope.getDataLoading = function() {
            return $scope.data_loaded;
        };
        $scope.setDataLoading = function(value) {
            $scope.data_loaded = value;
        };

        $scope.resetKnow= function(){
            $scope.formData.param.know_acseine_yes = [];
            $scope.formData.param.know_acseine_yes_other = '';
        }

        $scope.processForm = function() {
            $scope.setDataLoading(true);
            counseling_data.create($scope.formData).then(function onSuccess(response) {
                var data = response.data;console.log(data);
                if (!data.success) {
                    $scope.message = data.message;
                    $scope.errors = data.error_message
                    $scope.success = data.success;
                } else {
                    $scope.message = data.message;
                    //reset data
                    $scope.formData = {};
                    $scope.errors = {};
                    $scope.success = {};
                }
                $scope.setDataLoading(false);
            }).catch(function onError(response) {
                console.log(response);
                $scope.setDataLoading(false);
            });
        };

        $scope.formData = {};
        $scope.errors = {};
        $scope.message = null;
        $scope.setDataLoading(false);
    }]);
</script>
{% endblock %}
