{% extends "ProjectBundle:"~ view_layout ~":layout_campaign.html.twig" %}

{% block title %}Promotion | {{ parent() }}{% endblock %}

{% block header %}
    {% include "ProjectBundle:"~ view_acseine_campaign ~":_header.html.twig" %}
{% endblock %}

{% block content %}

    <section id="promotion">
        <div class="main-banner pro-banner">
            <div class="item item2">
                <a>
                    <img src="{{asset('/acseine_campaign/images/promotion/banner.png')}}" class="pc" alt="Super Sunshield ปกป้องผิวจากรังสี UV อย่างอ่อนโยน" />
                    <img src="{{asset('/acseine_campaign/images/promotion/banner-m.png')}}" class="m" alt="Super Sunshield ปกป้องผิวจากรังสี UV อย่างอ่อนโยน Mobile" />
                </a>
            </div>
        </div>
        <div class="container">
            <div class="pad about promotion-detail">
                <div class="section-title">
                    <h2>1<sup>st</sup> MakeUp for Sensitive Skin from ACSEINE</h2>
                </div>
                {#<h4 class="title2">
                    We will open pop-up store @Central Chaengwattana (Period ) and Central world /ZEN (Period ) with Big Promotion.
                </h4>#}
                <div class="detail1">
                    <p>
                        ครั้งแรกของ Make up สูตรอ่อนโยนที่ตอบโจทย์สาวผิวแพ้ง่ายจาก Acseine Thailand เปิดตัวที่แรกในงาน ACSEINE X  Central Special Pop-up Store ที่ Central Plaza แจ้งวัฒนะ บริเวณพลาซ่า ชั้น 1 ระหว่างวันที่ 8 สิงหาคม 2562 - 21 สิงหาคม 2562 และที่ ZEN @ Central world ชั้น 1 ระหว่างวันที่ 29 สิงหาคม - 9 กันยายน 2019
                        ซึ่งภายในงานคุณจะได้พบกับเครื่องสำอางเพื่อผิวแพ้ง่าย ภายใต้แบรนด์ Acseine ที่แรกในไทย พร้อมโปรโมชั่นและกิจกรรมสุด Exclusive ให้คุณได้ช้อปและทดลองผลิตภัณฑ์บำรุงผิวใหม่ๆ ได้อย่างเต็มอิ่มเฉพาะที่งาน ACSEINE X  Central นี้โดยเฉพาะ
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="promotion-list-section">
        <div class="container">
            <div class="pad pb-0 promotion-list">
                <div class="section-title">
                    <h1>Promotion</h1>
                </div>
                <div class="pro-list">
                    <!-- Item 1 -->
                    <div class="row">
                        <div class="col-sm-6 col">
                            <div class="img">
                                <img src="{{asset('/acseine_campaign/images/promotion/cheek-and-lip-v2-cheek-2.png')}}" alt="Moistbalance Lotion สำหรับผิวแพ้ง่าย-ขาดน้ำ ใช้ได้กับทุกสภาพผิว" />
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-5 col">
                            <div class="detail promotion-list-detail">
                                <h3>Exclusive 01 เมื่อซื้อครบ 2,500 บาท</h3>
                                <hr />
                                <p>
                                    <b>รับฟรีทันที ACSEINE Rose Cheek Powder รุ่น Limited</b>
                                </p>
                                <p>
                                    เพียงแค่ซื้อผลิตภัณฑ์ในงาน ACSEINE X Central ครบ 2,500 บาท รับฟรีทันที ACSEINE Rose Cheek Powder 1 ชิ้น (2.5g) มูลค่า 1,000 บาท บรัชออนสีชมพูอ่อนพาสเทล สูตรอ่อนโยนต่อผิวเหมาะสำหรับผิวแพ้ง่าย รุ่น Limited Edition ที่หาซื้อที่ไหนไม่ได้และไม่มีขายในญี่ปุ่น
                                </p>
                                <p>* สิทธิพิเศษที่มีเฉพาะในงาน ACSEINE X Central เท่านั้น</p>
                            </div>
                        </div>
                    </div>

                    <!-- Item 2 -->
                    <div class="row">
                        <div class="col-sm-6 col">
                            <div class="img">
                                <img src="{{asset('/acseine_campaign/images/promotion/cheek-and-lip-v2-lip.png')}}" alt="Moistbalance Lotion สำหรับผิวแพ้ง่าย-ขาดน้ำ ใช้ได้กับทุกสภาพผิว" />
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-5 col">
                            <div class="detail promotion-list-detail">
                                <h3>Exclusive 02 เมื่อซื้อครบ 5,000 บาท</h3>
                                <hr />
                                <p>
                                    <b>รับเพิ่มทันที!! ACSEINE Moisture Lip & Glow Skin set รุ่น Limited edition</b>
                                </p>
                                <p>
                                    เพียงซื้อผลิตภัณฑ์ในงาน ACSEINE X Central ครบ 5,000 บาท นอกจากจะได้รับ ACSEINE Rose Cheek Powder แล้ว ยังรับเพิ่มทันที!! Moisture Lip & Glow Skin set รุ่น Limited edition รวมมูลค่าทั้งหมด 2,650 บาท
                                </p>
                                คุณจะได้อะไรเพิ่มบ้าง?
                                <ul>
                                    <li>ACSEINE Moisture Lip (5.8g) บาล์มเนื้อเมลตี้ ละลายบนริมฝีปาก</li>
                                    <li>Supersunshield Bright FIT (8g) กันแดดรุ่นเนื้อน้ำนม</li>
                                    <li>Silky Moisture Foundation N (1.2 g) รองพื้นเนื้อเบา อ่อนนุ่มสมชื่อ SILKY</li>
                                </ul>
                                <p>
                                    * สิทธิพิเศษที่มีเฉพาะในงาน ACSEINE X  Central เท่านั้น<br />
                                    * จำกัดจำนวนแค่ 30 เซ็ต
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- Item 3 -->
                    <div class="row">
                        <div class="col-sm-6 col">
                            <div class="img">
                                <img src="{{asset('/acseine_campaign/images/promotion/15-percent-promotion.png')}}" alt="Moistbalance Lotion สำหรับผิวแพ้ง่าย-ขาดน้ำ ใช้ได้กับทุกสภาพผิว" />
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-5 col">
                            <div class="detail promotion-list-detail">
                                <h3 >Exclusive 03 ส่วนลดพิเศษ</h3>
                                <hr />
                                <p>
                                    <b>ลดสูงสุด 15%!!</b>
                                </p>
                                <p>
                                    รับส่วนลด 10% ทุกรายการ<br />
                                    รับส่วนลดพิเศษ 15% เมื่อซื้อครบ 6,000 บาท<br />
                                    สิทธิพิเศษ บัตร The 1 Card นำแต้มแลกส่วนลด Top up เพิ่มจากโปรโมชั่นปกติเข้าไปอีกสูงสุดถึง 12.5%
                                </p>
                                <p>
                                    * เฉพาะภายในงาน ACSEINE X Central<br />
                                    * ส่วนลด The 1 card เป็นไปตามเงื่อนไขของห้างสรรพสินค้าเซ็นทรัล
                                </p>

                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>

    </section>
{% endblock %}
{% block shoplist %}
<section id="location">
    <div class="container">
        <div class="pad shoplist">
            <div class="section-title">
                <h2 style="text-transform: uppercase;">Location</h2>
            </div>
            <!-- <div class="tb">
                <div class="td img">
                    <img src="{{asset('/acseine_campaign/images/shop/shop.jpg')}}" class="img-responsive" alt="ACSEINE Counter"/>
                </div>
                <div class="td">
                    <div class="box">
                        <h3>ACSEINE Counter</h3>
                        <span>
                            พร้อมเปิดให้บริการครั้งแรก<br />
                            ในวันที่ 9 พฤศจิกายน 2561 @ICONSIAM TAKASHIMAYA ชั้น M<br />
                            พร้อมให้คำปรึกษาปัญหาเรื่องผิวและคำแนะนำการเลือกใช้ผลิตภัณฑ์ดูแลผิวสำหรับผิวแพ้ง่าย ฟรี !!
                        </span>
                        <br />
                        @ICONSIAM TAKASHIMAYA ชั้น M 299 ซอยเจริญนคร 5 แขวงคลองต้นไทร
                        เขตคลองสาน กรุงเทพมหานคร 10600
                    </div>
                </div>

            </div> -->
            <!--location 1-->
            <div class="row location-list">
                <div class="col-md-12">
                    <div class="text-center">
                        <h3 class="mb-0">@Central Chaengwattana</h3>
                        <h3 class="mt-0 pink">วันที่ 8 ส.ค. 2562 - 21 ส.ค. 2562</h4>
                        <p>&nbsp;</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="{{asset('/acseine_campaign/images/location/cpn-chaeng-wattana.jpg')}}" class="img-responsive" alt="ACSEINE Counter"/>
                </div>
                <div class="col-md-6">

                    <div class="logo">
                        <h4><img src="{{asset('/acseine_campaign/images/location/cpn-logo-1.png')}}" class="img-responsive" alt="ACSEINE Counter"/></h4>
                    </div>
                    <div class="content">
                        <p>Beauty Galerie, 1st Fl. (บริเวณทางเชื่อมฝั่งพลาซ่า)</p>
                        <p>99/9 Chaeng Wattana-Parkkred 19 Alley, Bang Talat, Amphoe Pak Kret, Chang Wat Nonthaburi 11120</p>
                        <p>Tel:  02 101 0000</p>

                        Operating Hours:
                        <table>
                            <tr>
                                <td style="width:100px;">Monday</td>
                                <td>11AM–9:30PM</td>
                            </tr>
                            <tr>
                                <td>Tuesday</td>
                                <td>11AM–9:30PM</td>
                            </tr>
                            <tr>
                                <td>Wednesday</td>
                                <td>11AM–9:30PM</td>
                            </tr>
                            <tr>
                                <td>Thursday</td>
                                <td>11AM–9:30PM</td>
                            </tr>
                            <tr>
                                <td>Friday</td>
                                <td>11AM–10PM</td>
                            </tr>
                            <tr>
                                <td>Saturday</td>
                                <td>11AM–10PM</td>
                            </tr>
                            <tr>
                                <td>Sunday</td>
                                <td>10AM–9:30PM</td>
                            </tr>
                        </table>

                    </div>

                </div>
                <div class="col-md-12">
                    <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3872.9239660997755!2d100.52606091483216!3d13.90349279024941!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e2849d9ffd39ed%3A0xc895951f0121bce4!2sCentral+Plaza+Chaengwattana!5e0!3m2!1sen!2sth!4v1564637285318!5m2!1sen!2sth"  frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <!--location 2-->
            <div class="row location-list">
                <div class="col-md-12">
                    <div class="text-center">
                        <h3 class="mb-0">@Central World</h3>
                        <h3 class="mt-0 pink">วันที่ 29 ส.ค. 2562 - 11 ก.ย. 2562</h3>
                        <p>&nbsp;</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="{{asset('/acseine_campaign/images/location/zen-central-world2.jpg')}}" class="img-responsive" alt="ACSEINE Counter"/>
                </div>
                <div class="col-md-6">
                    <div class="logo">
                        <h4><img src="{{asset('/acseine_campaign/images/location/cpn-zen.png')}}" class="img-responsive" alt="ACSEINE Counter"/></h4>
                    </div>
                    <div class="content">
                        <p>Beauty Galerie, Level 1, (โซนเครื่องสำอาง)</p>
                        <p>4, 4/5 Rajdamri Road, Pathumwan, Bangkok 10330</p>
                        <p>Tel:  02-100-9999</p>
                        <p>Operating Hours: Open daily 10.00 a.m. – 10.00 p.m.</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3875.5328944576727!2d100.53718351483042!3d13.746706290350785!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e29ed020314361%3A0xaf6e7dd8567762aa!2sZen!5e0!3m2!1sen!2sth!4v1564637222891!5m2!1sen!2sth" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>


            <div class="social">
                <a href="https://www.facebook.com/acseine.th/" target="_blank"><img src="{{asset('/acseine_campaign/images/icon-facebook.png')}}" alt="facebook" /></a>
                <a href="https://www.instagram.com/acseine.th/" target="_blank"><img src="{{asset('/acseine_campaign/images/icon-instagram.png')}}" alt="instagram" /></a>
                <a href="https://line.me/R/ti/p/%40nei8508o" target="_blank"><img src="{{asset('/acseine_campaign/images/icon-line.png')}}" alt="line" /></a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block footer %}
    {% include "ProjectBundle:"~ view_acseine_campaign ~":_footer_index.html.twig" %}
{% endblock %}
